* {
    box-sizing: border-box;
}

*::before,*::after{
    box-sizing: inherit;
}
html,body{
    height: 100%;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: linear-gradient(38deg,#182c51,#09101a);
   overflow: hidden; 
}

.moon{
background-image: linear-gradient(38deg,#13223f,#0e1a30);
position:relative;
height: 250px;
aspect-ratio: 1;
border-radius: 50%;
}

.moon::before{
    content: "";
    background:#c79388;
    display: block;
    position:absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: -1;
    animation: 2s crescent linear infinite alternate;
}

@keyframes crescent {
    0%{
        box-shadow: none;
    }
    50%{
        background: #efdbd8;
        box-shadow: 0 0 12px #f9f3f2, 0 0 80px 8px #c79388;

    }
    100%{
        box-shadow: none;
    }
}
